html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
* {
  margin: 0;
}

html, body {
  height: 100%;
  color: #FFFFFF;
}

a {
  color: #b3d4fc;
}

a:hover {
  color: #529CDE;
}

.content {
  height: auto !important;
  margin: 0 auto;  /* the bottom margin is the negative value of the footer's height */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000000;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #000000;
}

.header h1 {
  color: #FCFCFC;
}

.header h2 {
  color: #B30000;
}

.content {
  background-color: #262627;
}

.main_content {
  margin: 0 auto;
  width: 800px;
  background-color: #343435;
  padding: 10px 10px 10px 10px;
  border-left: 1px solid #3D3D3E;
  border-right: 1px solid #3D3D3E;
}

.main_content h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #529CDE;
  font-size: 17px;
}

ol {
  list-style-position: inside;
}

ul {
  list-style-position: inside;
}

li .indent {
  text-indent: 16px;
  font-style: italic;
}

#intro {
  margin: 0 auto;
  width: 100%;
}

#intro p {
  text-align: left;
}

#instructions {
  margin: 0 auto;
  width: 100%;
}

#instructions p {
  text-align: left;
}

#instruction_list {
  width: 100%;
  text-align: left;
}

#uninstall_list {
  width: 100%;
  text-align: left;
}

#mods {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#mods a {
  text-decoration:none
}

#mods h1 {
  color: #B30000;
}

.mod_container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 80px;
}

.mod_title {
  font-style: bold;
  font-size: large;
  color: #E7E7E7;
}


.version {
  font-style: italic;
  font-size: smaller;
  text-align: center;
  color: #BFBFBF;
}

.mod_description {
  font-style: italic;
  font-size: small;
  color: #898989;
}

.button {
  border: 2px solid #404042;
  background-color: #445b7c;

  border-radius: 2px;
  display: block;
  background: #445b7c;
  background: -moz-linear-gradient(top, #445b7c 5%, #364963 95%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#445b7c), color-stop(95%,#364963));
  background: -webkit-linear-gradient(top, #445b7c 5%,#364963 95%);
  background: -o-linear-gradient(top, #445b7c 5%,#364963 95%);
  background: -ms-linear-gradient(top, #445b7c 5%,#364963 95%);
  background: linear-gradient(to bottom, #445b7c 5%,#364963 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445b7c', endColorstr='#364963',GradientType=0 );
}

.button:hover {
  border: 2px solid #529CDE;
}

.footer {
  background-color: #000000;
}

img {
  padding-top: 10px;
  padding-bottom: 5px;
}